.sun-editor .se-toolbar.se-toolbar-sticky {
  position: absolute;
}
.ant-select-selection--multiple{
  width: 500px;
}
.dropdown_contr_agent{
  width:200%;
  position:fixed;
}
.ant-select-selection--multiple{
  width:250px;
  max-width: 500px;
}
.Tags{
  width:100%;
}
.editor_job_team_background{
  border-color: #c0e8e3;
  border-style: solid; /* Стиль границы */
  padding: 5px; 
}
.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}
.dark-blue-text {
  color: #0a38f5;
}
.dark-pink-text {
  color: #ac003a;
}
.dark-amber-text {
  color: #ff6f00;
}
.dark-teal-text {
  color: #004d40;
}

.alert {
  position: absolute;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  top: 39em;
  border-radius: 0.25rem;
  width: 2000px;
  color: #000000;
  background-color: #d1ecf1;
}
.calendar_body{
  background-color: #ffffff;
}
.ant-icon-pos{
  float:left;
  padding:1px;
}
.spec-border{
  padding:5px;
  width: min-content;
}
.delete_ant_icon{
  float: left;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .postisitonRelativeSmeni {
    /* display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 6em 0.1em; */
  }
  .card-job-style {
    /* width: 55em */
  }
  .hr_job_list {
  }
  .new_jobs_list {
    max-width: 300px
  }
  .profile_statistic_chart {
    display: none;
  }
  .fotter-bar-left {
    width: 0px;
    height: 0px;
  }
  .dSnone {
    display: none;
  }
  .edit_profile_main {
  }
  .todo-list-main-selector {
  }
  .container_button_job {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .alert-yellow {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #98e73175;

  }
  .company_worker_width{
    
  }
  .news_width{
    width: 100%;
  }
  .alert-complete-status {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #000000;
    background-color: #09caecb7;
  }
  .main_position_job_container{
    width:55em;
  }
  .img-resize{
    /* width:100px; */
  }
}
@media only screen and (max-width: 480px){
  .alert-complete-status {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #000000;
    background-color: #09caecb7;
  }
  .ComandTodoBorder {
    background: rgba(255, 255, 255, 0.513); /* Цвет фона */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    padding: 10px;
 
  }
  .SoloTodoBorder {
    background: rgba(240, 240, 240, 0.644); /* Цвет фона */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    padding: 10px;
 
  }
  .news_width{
    width: 100%;
  }
  .card-job-modile-style {
    width: 177px;
  }
  .img-resize{
    width: max-content;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 1024px) and (max-width: 1240px)  {
  
}

@media only screen and (min-width: 600px) {
  .alert-complete-status {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #000000;
    background-color: #09caecb7;
  }
  .main_position_job_container{
    width:55em;
  }
  .postisitonRelativeSmeni {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 6em 0.1em;
  }
  .text-editor-style {
    width: 100px;
    height: 100px;
  }
  .card-job-style {
    /* width: 55em */
  }
  .hr_job_list {
    width: 35em;  
  }
  .new_jobs_list {
  }
  .profile_statistic_chart {
    width: 800px;
    height: 300px;
  }
  .fotter-bar-left {
    float: left;
    padding: 5px;
    background-color: #001529;
    /* border-radius: 5px; */
    border: thin rgba(0, 0, 0, 0.753) solid;
  }
  .edit_profile_main {
    left: 9em;
    top: 2em;
    /* bottom: 20em; */
    position: absolute;
    display: flex;
  }
  .todo-list-main-selector {
    left: 9em;
    top: 2em;
    /* bottom: 20em; */
    position: absolute;
    display: flex;
  }
  .alert-yellow {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #98e73175;

  }
  .news_width{
    width: 100%;
  }
  .img-resize{
    width: 250px;
    height: 250px;
  }
  .ComandTodoBorder {
    background: rgba(255, 255, 255, 0.513); /* Цвет фона */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    padding: 10px;
    display: table-cell;
  }
  .SoloTodoBorder {
    background: rgba(240, 240, 240, 0.644); /* Цвет фона */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    padding: 10px;
    display: table-cell;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .profile_statistic_chart {
    width: 800px;
    height: 300px;
  }
  .fotter-bar-left {
    float: left;
    padding: 5px;
    background-color: #001529;
    /* border-radius: 5px; */
    border: thin rgba(0, 0, 0, 0.753) solid;
  }
  .edit_profile_main {
    left: 9em;
    top: 2em;
    /* bottom: 20em; */
    position: absolute;
    display: flex;
  }
  .todo-list-main-selector {
    left: 9em;
    top: 2em;
    /* bottom: 20em; */
    position: absolute;
    display: flex;
  }
  .alert-yellow {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #98e73175;

  }
  .alert-complete-status {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #000000;
    background-color: #09caecb7;
  }
  .news_width{
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .postisitonRelativeSmeni {
    left: 9em;
    top: 2em;
    /* bottom: 20em; */
    position: absolute;
    display: flex;
  }
  .alert-complete-status {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #000000;
    background-color: #09caecb7;
  }
  .edit_profile_main {
    left: 9em;
    top: 2em;
    /* bottom: 20em; */
    position: absolute;
    display: flex;
  }
  .hr_job_list {
    width: 55em;  
  }
  .new_jobs_list {
    width: 75em;
  }
  .profile_statistic_chart {
    width: 800px;
    height: 300px;
  }
  .news_width{
    width: 45em;
  }
  .fotter-bar-left {
    float: left;
    padding: 5px;
    background-color: #001529;
    /* border-radius: 5px; */
    border: thin rgba(0, 0, 0, 0.753) solid;
  }
  .todo-list-main-selector {
    left: 9em;
    top: 2em;
    /* bottom: 20em; */
    position: absolute;
    display: flex;
  }
  .alert-yellow {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #98e73175;

  }
  .alert-complete-status {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #000000;
    background-color: #09caecb7;
  }
}
.positonEveryDayLent {
  left: -18em;
  top: 16em;
  /* bottom: 20em; */
  position: absolute;
  display: flex;
}
/* flex-row-reverse */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hr_job_list {
    width: 55em;  
  }
  .postisitonRelativeSmeni {
    left: 9em;
    top: 2em;
    /* bottom: 20em; */
    position: absolute;
    display: flex;
  }
  .profile_statistic_chart {
    width: 800px;
    height: 300px;
  }
  .fotter-bar-left {
    float: left;
    padding: 5px;
    background-color: #001529;
    /* border-radius: 5px; */
    border: thin rgba(0, 0, 0, 0.753) solid;
  }
  .edit_profile_main {
    left: 9em;
    top: 2em;
    /* bottom: 20em; */
    position: absolute;
    display: flex;
  }
  .alert-yellow {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #98e73175;

  }
  .news_width{
    width:75em;
  }
  .alert-complete-status {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #000000;
  background-color: #09caecb7;
}
}
/* 
@media screen and (min-width: 500px) {
  .postisitonRelativeSmeni {
    left: 9em;
    top: 2em;
    /* bottom: 20em; */
    /* position: absolute;
    display: flex;
  }
  .news_width{
    width: 35em;
  }
  .alert-complete-status {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;

    color: #000000;
    background-color: #09caecb7;
  }
} */ */

.alert-warning-yellow {
  color: #00000094;
  background-color: #98e73175;
  /* border-color: #0f0b0fc7; */
}
.fade.show-yellow {
  opacity: 1;
}
.alert-dismissible-yellow {

}
/* .alert-yellow {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 100vh;
} */
.Link {
  color: #000000;
}
.tabel {
  padding: 1000px;
}
.css-o2cm99 {
  background-color: rgb(235, 236, 240);
  display: flex;
  flex-direction: column;
  opacity: inherit;
  user-select: none;
  width: 250px;
  padding: 8px 8px 0px;
  border-width: 8px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  transition: background-color 0.2s ease 0s, opacity 0.1s ease 0s;
}
.part2 {
  left: 25em;
  top: 0em;
  bottom: 20em;
  position: absolute;
  display: flex;
}
.input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0b67c2;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.modal-list-search {
  padding: 5px;
}

.modal-dialog {
  top: -15em;
}
.modal-content-position {
  /* left: 10px;
    right: 12px; */
  width: 100%;
  position: absolute;
  top: 25em;
  /*TODO: Hack  css   */
}
.search_positon {
  left: 35em;
  position: absolute;
}
.square-red {
  width: 1em;
  height: 1em;
  background: red;
}
.square-yellow {
  width: 1em;
  height: 1em;
  background: yellow;
}
.todo-yellow {
  padding: 5px;
  background: #fff30fc0;
  max-width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /* box-shadow: inset 5em 1em gold; */
}
.todo-red {
  padding: 5px;
  background: #f72d2dc9;
  max-width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  /* box-shadow: inset 5em 1em #f24141; */
}
.todo-comand-yellow {
  padding: 5px;
  background: #fff30fc0;
  max-width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: inset 5em 1em gold;
}
.todo-comand-red {
  padding: 5px;
  background: #f72d2dc9;
  max-width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  box-shadow: inset 1em 0em rgb(219, 23, 17);
}
/* :hover */
.deal-purpur {
  padding: 5px;
  background: #996bd5;
  max-width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  /* box-shadow: inset 5em 1em #f24141; */
}
/* :hover */
.deal-purpurs:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
}
.todo-red:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.1);
}
.todo-green:hover {
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  transform: scale(1.1);
}
.todo-yellow:hover {
  /* -webkit-transform: rotateZ(10deg); */
  /* -ms-transform: rotateZ(10deg); */
  transform: scale(1.1);
}
.todo-green {
  padding: 5px;
  background: #15b11ac4;
  max-width: 100%;
  /* box-shadow: inset 5em 1em #50ba29; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.todo-phone-red {
  background: #ec26269d;
  padding: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.todo-phone-yellow {
  background: #fff30f86;
  padding: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.todo-phone-green {
  background: #8ed61398;
  padding: 5px;
}
.deal-phone-green {
  background: #7b4f7ddc;
  padding: 5px;
}
.square-green {
  width: 1em;
  height: 1em;
  background: green;
}
.square-return {
  width: 1em;
  height: 1em;
  background: white;
}
.agent-list {
  border-radius: 25px;
  background: #73ad21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.layer-list-agent {
  /* overflow-y: scroll;
    width: 300px; 
    height: 100em;
    padding: 5px;  */
  /* overflow: auto; */

  max-height: 100em;
  margin: 30px auto;
  background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(
      farthest-side at 50% 0,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      )
      0 100%;
  background-repeat: no-repeat;
  background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
  background-attachment: local, local, scroll, scroll;
}
.positionAgentLits {
  display: flex;
  align-items: center;
  justify-content: center;
}
.square-red-sort {
  width: 3em;
  height: 3em;
  background: red;
  border: none;
}
.square-return-sort {
  width: 3em;
  height: 3em;
  background: white;
  border: none;
}
.square-green-sort {
  width: 3em;
  height: 3em;
  background: green;
  border: none;
}
.square-yellow-sort {
  width: 3em;
  height: 3em;
  border: none;
  background: yellow;
}
.positionLeft {
  width: 8em;
  max-width: 100%;
  min-height: 2em;
  margin: 0 0 0 auto; /* то же, что margin-left: auto;  */
  border: 1px solid orange;
  background: #fff5d7;
}
.ant-back-top {
  bottom: 100px;
}
.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.icon-work {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TodoListBorder {
  /* background: #f6efef;  */
  /* border: 1px solid rgb(8, 134, 218);  */
  padding: 1em;
  margin-bottom: 1.5em;
}
.TodoListOneJob {
  /* background: #ffc422;  */
  border: 0.3em solid #002140;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1.5em;
}
.TextDealHistory {
  text-align: center;
}
.ant-card-bordered {
  border: none;
}
.todo-text-status-job {
  background-color: #064f8b36;
}
.todo-text-status-green {
  background-color: #20ac9977;
}
.mainMenu {
  position: fixed;
}
.alert-alert-info {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  /* width: 100vh; */
  color: #000000;
  background-color: #6905ec8e;
}

.news-width{
  max-width: auto;
}
.alert-new-comment {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  /* width: 100vh; */
  color: #000000;
  background-color: #ffbc057e;
}

.alert-redirect-todo {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #000000;
  background-color: #ec09a0b7;
}
.security {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #000000;
  background-color: #c22323b0;
}
.shadow-test {
  padding: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.markdown-input_fullscreen {
  overflow: hidden;
}
.markdown-input_fullscreen.modal.in .modal-dialog {
  transform: none;
}
.shadowUserList {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.ButtonPosition {
}
.strokeEditDevice {
  color: #fff;
  padding: 10px;
  background-color: #108ee9;
  -webkit-box-shadow: 14px 17px 52px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 17px 52px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 17px 52px -6px rgba(0, 0, 0, 0.75);
}
.IconMobile {
  align-items: center;
  justify-content: center;
}
.Mobile_menu_row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 6em 0.1em;
}
.russian-map-wrap {
  display: absolute;
  padding: 50px;
}
.gallery {
  width: 300px;
  height: 200px;
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.gallery-image {
  cursor: pointer;
  position: relative;
  display: block;
}

.gallery-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  vertical-align: middle;
  line-height: 200px;
}

.gallery-text:hover {
  opacity: 1;
}

.gallery-text h3 {
  display: inline-table;
  vertical-align: middle;
  line-height: 100%;
  color: rgb(219, 23, 17);
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-uploaded {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#footer {
  bottom: 0; /* Левый нижний угол */
  width: 100%; /* Ширина слоя */
}
.avatar {
  float: right;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  max-width:300px;
}
.todo-yellow-text {
  font-size: 150%;
  color: #24292e;
}
.todo-green-text {
  font-size: 150%;
  color: #24292e;
}
.todo-red-text {
  font-size: 150%;
  color: #f3f4f5;
}
.fotter-bar-left {
  float: left;
  padding: 5px;
  background-color: #001529;
  /* border-radius: 5px; */
  border: thin rgba(0, 0, 0, 0.753) solid;
}
code {
  color: #fff;
}
.user-online {
  width: 10px;
  height: 10px;
  border: 2px solid rgb(142, 250, 19);
  border-radius: 50%;
  background: rgb(142, 250, 19);
}
.user-ofline {
  width: 10px;
  height: 10px;
  border: 2px solid red;
  border-radius: 50%;
  background: red;
}
.message-list {
  background-color: #fff;
}
.main-assigned-todo-list {
}

/* a {
  text-decoration: none;
  color: #1E1E23;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200ms;
}
a:hover {
  opacity:0.5;
} */
ul {
  padding: 0;
  list-style-type: none;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone {
  background-color: #36383f;
  border-radius: 40px;
  width: 300px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 30px 50px 100px #85888c;
}
.content {
  border: 1px solid #36383f;
  border-radius: 20px;
  width: 94%;
  height: 91%;
  background-color: #f5f6fa;
  overflow: hidden;
}
nav {
  background-color: #1e1e23;
  height: 65px;
  display: flex;
  position: relative;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383f;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 25em;
  height: 50em;
  box-shadow: 0 0 10px #85888c;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #f5f6fa;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
.ant-badge-count {
  z-index: 0;
}
.ant-tabs-tab-active {
  z-index: 0;
}
.sun-editor {
  z-index: 0;
}
.sun-editor {
  z-index: 0;
}
.sun-editor .se-wrapper {
  z-index: 0;
}
.sun-editor .se-toolbar {
  z-index: 0;
}
.ant-tabs {
  z-index: 0;
}
.profile_statistic {
}
.ql-editor{
  background-color: #fff;
}
.menu_frame{
  /* border: 4px double black;
  background: #fc3;
  padding: 10px; */
}
.user-list{

  left: 20px;
}
.editor_job_lonely{
  /* left:20px; */
}
.name_user{
  word-break: break-word;
  max-width:300px;
}