.alert {
    position: absolute;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    top: 39em;
    border-radius: .25rem;
    width: 2000px;
    color: #0c5460;
    background-color: #d1ecf1;
}
.postisitonRelativeSmeni{
    left:15em;
    top: 2em;
    bottom: 20em;
    position: absolute;
    display: flex; 
}
.alert-warning-yellow {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.fade.show-yellow {
    opacity: 1;
}
.alert-dismissible-yellow {
    padding-right: 4rem;
}
.alert-yellow {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width:100vh;
}
.Link{
    color:#000000

}
.tabel{
    padding:1000px
}
.css-o2cm99{
    background-color: rgb(235, 236, 240);
    display: flex;
    flex-direction: column;
    opacity: inherit;
    user-select: none;
    width: 250px;
    padding: 8px 8px 0px;
    border-width: 8px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    transition: background-color 0.2s ease 0s, opacity 0.1s ease 0s;
}
.part2{
    left:25em;
    top: 0em;
    bottom: 20em;
    position: absolute;
    display: flex; 
}
.input{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.modal-list-search{
    padding:5px;
}

.modal-dialog {
    top: -15em;
}
.modal-content-position{
    /* left: 10px;
    right: 12px; */
    width:100%;
    position: absolute;
    top: 25em;
    /*TODO: Hack  css   */
}
.search_positon{
    left:35em;
    position: absolute;

}
.square-red{
	width: 1em;
	height: 1em;
	background: red;
}
.square-yellow{
	width: 1em;
	height: 1em;
	background: yellow;
}
.square-green{
	width: 1em;
	height: 1em;
	background: green;
}
.square-return{
	width: 1em;
	height: 1em;
	background: white;
}
.agent-list{
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}
.layer-list-agent{
    /* overflow-y: scroll;
    width: 300px; 
    height: 100em;
    padding: 5px;  */
    /* overflow: auto; */
    
    max-height: 100em;
    margin: 30px auto;
    background: linear-gradient(white 30%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)), radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;

}
.positionAgentLits{
    display: flex;
    align-items: center;
    justify-content: center
}